# CakePHP 3

/vendor/*
/config/app.php

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty

/logs/*
!/logs/empty

# CakePHP 2

/api/tmp/*
/api/Config/core.php
/api/Config/database.php
/vendors/*



/.idea/

/api/savedata/*

!/api/savedata/icon/*
!/api/savedata/.gitkeep
!/api/savedata/publicfile/.gitkeep
!/api/savedata/masterdb/.gitkeep